<%- include('./partials/head.ejs') %>

<div class="container">

    <h1 class="edit_exercise_title">Edit <%= exercise.exerciseName %></h1>

    <form class='new_exercise' action="/workout-tracker/<%= exercise._id %>/editPost" method="POST">
    
        <label for="exercise">Exercise name:</label>
        <input type="text" name="exerciseName" id="exercise" value='<%= exercise.exerciseName %>' />
    
        <br/>
    
       <% exercise.sets.forEach((set) => { %>
        
        <input type="Number" name="reps" class="add_reps" placeholder="<%= set.reps%> reps">
    
        <br/>
    
    
        <input type="Number" name="weight"  class="add_weight" placeholder="<%= set.weight%> kg">
    
        <br/>
        
        <% }) %>
    
    
        <input type="submit" value="finish edit" class='finish_exercise btn btn-success'/>
    
    </form>
    
    
    <button class="add_set btn btn-dark">add set</button>


</div>



<%- include('./partials/foot.ejs') %>