<%- include('./partials/head.ejs') %>


<h1>Edit <%= exercise.exerciseName %></h1>

<form class='new-exercise' action="/workout-tracker/<%= exercise._id %>/editPost" method="POST">

    <label for="exercise">Exercise name:</label>
    <input type="text" name="exerciseName" id="exercise" value='<%= exercise.exerciseName %>' />

    <br/>

   <% exercise.sets.forEach((set) => { %>
    
    <input type="Number" name="reps" class="add-reps" value="<%= set.reps%>">

    <br/>


    <input type="Number" name="weight"  class="add-weight"value="<%= set.weight%>">

    <br/>
    
    <% }) %>


    <input type="submit" value="finish edit" class='finish-exercise'/>

</form>


<button class="add-set">add set</button>