<%- include('./partials/head.ejs') %>


<h2>Review <%= workout.name %></h2>

<% for(let i = 0; i < workout.exercises.length; i++) { %>
    <h2>
        <%= workout.exercises[i].exerciseName %>
        <a href="/workout-tracker/<%= workout.exercises[i]._id %>/edit">Edit</a>
    </h2>
    <% for(let e = 0; e < workout.exercises[i].sets.length; e++) { %>
        <ul> <u>Set <%= e+1 %></u>
            <li>Reps: <%= workout.exercises[i].sets[e].reps%></li>
            <li>Weight: <%= workout.exercises[i].sets[e].weight%>KG</li>
        </ul>
    <% } %>
<% } %>


